{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Index Page</title>
    <script>

        $(document).ready(function () {
            $("#image_id").hide()
            $(".first-txt").hide()
            $(".second-txt").hide()

            var bg_color = null
            var text_color = null
            var font_size = 10
            var usertext = "This is magzine text"

            $(".colorButton1").click(function () {
                bg_color = $(this).val()
                $("#label_bg_color").html("Selected background color: " + bg_color)
                $("#label_bg_color").css("color", bg_color)
                return false; // prevents submission
            });

            $(".colorButton2").click(function () {
                text_color = $(this).val()
                $("#label_text_color").html("Selected background color: " + text_color)
                $("#label_text_color").css("color", text_color)
                return false; // prevents submission
            });

            $("#image_btn").click(function () {

                var imageHtml = $("#img .accept").map(function () {
                    return this.outerHTML;
                }).get();

                var temp = $("#quantity").val()
                if (temp != "")
                    font_size = temp
                font_size = font_size + "px"

                $("#image_id").css("background-color", bg_color);
                usertext = $("#usertext1").val()
                $(".first-txt").html(usertext)
                $(".first-txt").css("color", text_color);
                $(".first-txt").css("font-size", font_size);

                usertext = $("#usertext2").val()
                $(".second-txt").html(usertext)
                $(".second-txt").css("color", "white");


                $("#image_id").show()
                $(".first-txt").show()
                $(".second-txt").show()

                return false; // prevents submission
            });
        });

        var loadFile = function (event) {
            var image = document.getElementById('image_id');
            image.src = URL.createObjectURL(event.target.files[0]);
        };
    </script>

    <style>
        button {
            color: white;
            border-radius: 15px;
            border-width: 5px;
            border-style: hidden;
        }

        img {
            border-radius: 20px;
            border: 5px solid black;
            height: 800px;
            width: 600px;
            padding: 50px;
            background-color: red;
        }

        .first-txt {
            font-size: 30px;
            position: relative;
            top: -700px;
            right: -100px;
            color: red;
        }

        .second-txt {
            font-size: 30px;
            position: relative;
            top: -400px;
            right: -100px;
            color: red;
            height: 300px;
            width: 450px;
        }
    </style>

</head>

<body class="bg-dark">
    <div class="container" style="text-align: center;">
        <h1 class="text-light">Magzine cover creator</h1>
    </div>



    <div style="height:30px"></div>

    <div class="container text-light " style="padding-top: 30px;">
        <label for="img" style="font-size: 20px;">Select image:</label>
        <input type="file" id="img" onchange="loadFile(event)" name="img" accept="image/*">
    </div>

    <div id="div1" class="container text-light " style="padding-top: 30px;">
        <label for="img" style="font-size: 20px;">Select bg color:</label>
        <button class="colorButton1" style="background-color: blue;" value="blue">Blue</button>
        <button class="colorButton1" style="background-color: red;" value="red">Red</button>
        <button class="colorButton1" style="background-color: green;" value="green">Green</button>
        <button class="colorButton1" style="background-color: orange;" value="orange">Orange</button>
        <button class="colorButton1" style="background-color: pink;" value="pink">Pink</button>
        <button class="colorButton1" style="background-color: purple;" value="purple">Purple</button>
        <button class="colorButton1" style="background-color: brown;" value="brown">Brown</button>
        <button class="colorButton1" style="background-color: black;" value="black">Black</button>
        <button class="colorButton1" style="background-color: gray;" value="gray">Gray</button>

    </div>

    <div class="container text-light " style="padding-top: 30px;">
        <label id="label_bg_color" style="font-size: 20px;"></label>
    </div>


    <div class="container text-light " style="padding-top: 30px;">
        <label for="img" style="font-size: 20px;">Select text color:</label>

        <button class="colorButton2" style="background-color: blue;" value="blue">Blue</button>
        <button class="colorButton2" style="background-color: red;" value="red">Red</button>
        <button class="colorButton2" style="background-color: green;" value="green">Green</button>
        <button class="colorButton2" style="background-color: orange;" value="orange">Orange</button>
        <button class="colorButton2" style="background-color: pink;" value="pink">Pink</button>
        <button class="colorButton2" style="background-color: purple;" value="purple">Purple</button>
        <button class="colorButton2" style="background-color: brown;" value="brown">Brown</button>
        <button class="colorButton2" style="background-color: black;" value="black">Black</button>
        <button class="colorButton2" style="background-color: gray;" value="gray">Gray</button>

    </div>

    <div class="container text-light " style="padding-top: 30px;">
        <label id="label_text_color" style="font-size: 20px;"></label>
    </div>

    <div class="container text-light " style="padding-top: 30px;">
        <label for="quantity">Select font size:</label>
        <input type="number" id="quantity" name="quantity" min="1" max="30">
    </div>

    <div class="container text-light " style="padding-top: 30px;">
        <label for="texta">Enter the heading:</label><br>
        <textarea id="usertext1" name="texta" cols="30" rows="2"></textarea>
    </div>

    <div class="container text-light " style="padding-top: 30px;">
        <label for="texta">Enter the text:</label><br>
        <textarea id="usertext2" name="texta" cols="30" rows="5"></textarea>
    </div>

    <div class="container text-light " style="padding-top: 30px;">
        <button id="image_btn" type="submit" class="btn btn-primary">Generate cover</button>
    </div>

    <div class="container text-light " style="padding: 50px;">
        <img id="image_id" class="centered" />
        <h3 class="first-txt">
            Elon Musk
        </h3>

        <h3 class="second-txt">
            His Biography
        </h3>

    </div>

</body>

</html>