<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Index Page</title>
    <script>


        $(document).ready(function () {
            $("button").click(function () {


            });
        });
    </script>
    <style>
        h2{
            color: chocolate;
        }
        h4{
            color:indianred;
        }
    </style>

</head>

<body class="bg-dark">
    <div class="container" style="text-align: center;">
        <h1 class="text-light">Reviews</h1>
    </div>

    <div class="container text-light " style="height: 300px; width: 80%px;" id=div1>

        <h2>Sahil</h2>
        <h4>Great book (worthy to buy)</h4>
        <p>This is a great book and it helps me to solve my big problems in my code but it's best for someone who knows
            Java a little not completely for a beginner(according to me)
        </p>

        <h2>Amazon Customer</h2>
        <h4> Avoid this book</h4>
        <p>This is the WORST book in terms of introducing beginner to programming, not to mention introducing to
            javascript. Complex, unintuititve, will only get you confused. I started reading in 3 years ago and I
            thought I am stupid. Now I am studing computer science, did some coding, and came to conclusion it wasn't my
            fault - his book is pure rubbish. Author wants to boost HIS ego by giving you complex examples that does
            nothing but confuse you.
        </p>
    </div>
    <div style="height:30px"></div>


    <div style="height:30px"></div>



</body>

</html>